/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Vu Uy Lam
  ID: s3938804
  Acknowledgement: Acknowledge the resources that you use here.
*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --brown:#811783;
}

body{
    background:#f4f2f1;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background:var(--brown);
    color:#fff;
    font-size:1.7rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
}
.btn:hover{
    background: #222;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.row{
    display: flex;
    flex-wrap: wrap;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{
    padding:3rem 9%;
}

.heading{
    background: url("images/background-2.jpg") no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7);
}

.heading h1{
    color: #280c8f;
    font-size:4rem;

}
    
.title {
    display:flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom:3rem;
    padding:1.2rem 0;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7);
    color: #922ca0;
}
.title span{
    color: #222;
    padding-left: .7rem;
}
.title a{
    margin-left:auto;
    color: #222;
    font-size: 1.5rem;
}
.title a:hover{
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
    background: var(--brown);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.header .logo{
    font-size:2rem;
    font-weight: bolder;
    color:#ffffff;
}

.header .logo i{
    color:#080808;
    padding-right: .4rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: #222;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: #fff;
}

.header .icons div:hover{
    color: #222;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: #f1eded;
}

.header .icons div:hover{
    color: #222;
}

#menu-btn{
    display: none;
}

.home{
    padding-top: 14rem;
    background: url(images/home-1.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
 .home .slides-container .slide{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display:none;
}
.home .slides-container .slide.active{
    display:flex;
}

.home .slides-container .slide .content{
    flex: 1 1 40rem;
    animation: fadeLeft .4s linear .4s backwards;
}

.home .slides-container .slide .content span{
    color: #000;
    font-size:2.5rem;
}

.home .slides-container .slide .content h3{
    font-size:6rem;
    color: #222;
    padding:.5rem 0;
}

.home .slides-container .slide .img{
    flex: 1 1 40rem;
    margin: 3rem 0;
}

.home .slides-container .slide .img img{
    width: 100%;
    animation: fadeUp .4s linear;
}

.category .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap:1.5rem;
    padding:4rem 0;
}

.category .box-container .box{
    text-align:center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
}

.category .box-container .box img{
    height:15rem;
    width:21rem;
}

.category .box-container .box h3{
    font-size: 2rem;
    margin: 1rem 0;
    color: #222;
}

.category .box-container .box:hover h3{
    color: #fff;
}


.items .box-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }

  .items .box-container .box {
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
  }

.items .box-container .box:hover  .icons{
    top: 0;
}

  .items .box-container .box .icons {
    position: absolute;
    top: -105%;
    left: 0;
    height: 30rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(243, 243, 243, 0.8);
    gap: 1rem;
  }

  .items .box-container .box .icons a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    color: #666;
  }

.items .box-container .box .icons a:hover{
    background: var(--brown);
    color:#fff;
}

  .items .box-container .box .img {
    height:15rem;
    width:27rem;
    overflow: hidden;
  }

  .items .box-container .box .img img {
    height:100%;
    width:100%;
    object-fit: cover;
  }

  .items .box-container .box .content {
    padding: 1.5rem;
  }

  .items .box-container .box .content h3 {
    font-size: 2rem;
    color: #222;
  }

  .items .box-container .box .content .price {
    font-size: 2rem;
    color: #222;
    padding: 1rem 0;
  }

  .items .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--brown);
  }

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;  
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #ffff;
}

.subscription{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.subscription .img{
    flex: 1 1 40rem;
}

.subscription .img img{
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
}

.subscription .content{
    flex: 1 1 40rem;
}

.subscription .content span{
    color: #8f10b6;
    font-size: 2.5rem;
}

.subscription .content h3{
    color:#222;
    font-size: 3rem;
    padding-top:.5rem;
}

.subscription .content p{
    color:#222;
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}
.detail h3{
    color:#222;
    font-size: 3rem;
    padding-top:.5rem;
}
.detail p{
    color:#222;
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

/*************product*****/
.product{
    padding: 100px 0;
}
.product-top{
    margin-bottom: 30px;
}
.product-top p{
    font-family: 'Poppins', sans-serif;
    margin: 0 12px;
    font-size: 12px;
}
.product-content-left{
    width: 50%;
    padding-right: 20px;
}
.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}

.product-content-left-big-img img{
    width: 100%;
}

.product-content-left-small-img{
    width: 20%;
}
.product-content-left-small-img img{
    width: 100%;
}

.product-content-right-product-name h1{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}

.product-content-right{
    width: 50%;
    padding-left: 20px;
    
}
.product-content-right-product-name h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.product-content-right-price{
    margin-right: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}

.quantity{
    display: flex;
    margin-bottom: 20px;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}

.product-content-right-button button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.2s ease;
}
.product-content-right-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f4f2f1;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-button button:first-child:hover{
    background-color: #000;
    color: #ffff;
}
.product-content-right-button button:last-child{
    border: 2px solid #9049bf;
    color: #9049bf;
    background-color: #f1eded;
}
.product-content-right-button button:last-child:hover{
    background-color: #9049bf;
    color: #ffff;
}

.space{
    min-height: 12vh;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  
.radio-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  
.circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
  
  
.radio-box:hover input ~ .circle {
    background-color: #ccc;
}
  
  
.radio-box input:checked ~ .circle {
    background-color: #2196F3;
}
  
  
.circle:after {
    content: "";
    position: absolute;
    display: none;
}
  
  
.radio-box input:checked ~ .circle:after {
    display: block;
}

.radio-box .circle:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.contact-us .row{
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.contact-us .row form{
    padding:2rem;
    border: 0.1rem solid rgba(0,0,0,0.7);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    flex: 1 1 40rem;
}

.contact-us .row form h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: #222;
}

.contact-us .row form .standard-select option{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: #222;
}

.contact-us .row form .filler{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.contact-us .row form .filler .box,
.contact-us .row form select,
.contact-us .row form textarea{
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    border: 0.1rem solid rgba(0,0,0,0.7);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    color: #222;
    text-transform:none;
    margin: .7rem 0;
}

.contact-us .row form textarea{
    width: 100%;
    height:15rem;
    resize:none;
}

.contact-us .row .map{
    flex: 1 1 40rem;
    width:100%;
}

.space{
    min-height: 10vh;
}

.footer{
    background:var(--brown);

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}


.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #222;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color: #000;
    padding-bottom: .5rem;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color: #000;
    padding:1rem 0;
    display:block;
}

.footer .box-container .box a:hover{
    color: #fff;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: #000;
}

@media (max-width: 960px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position:absolute;
        top: 99%;
        left: 0;
        right: 0;
        background:#222;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
        border-bottom: 0.1rem solid rgba(0,0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }


    .header .navbar a{
        margin: 1.5rem;
        padding:1.5rem;
        background:var(--brown);
        font-size: 2rem;
        display: block;
        border-radius: .5rem;
    }

    .product-content-left-big-img img{
        width: 100%;
        padding: 5px 5px;
        border: 1px solid;
    }
    .product-content-left-small-img{
        display: flex;
        width: 80%;
        justify-content: space-between;
        width: inherit;
        margin-top: 20px;
    }

    .small-img{
        width: 100%;
        margin: 0px 7px;
    }
    .small-img img{
        width: 100%;
        border: 1px solid;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.5s ease;
    }

}